.avatar__header{
  // background-color: #3748ac;
  font-size: 36px;
  color: #fff;
  .head_wrap{
    overflow: hidden;
    padding: 30px 30px 20px;
    text-align: center;
    img{
      height: 48px;
      vertical-align: middle;
    }
    // .nav_wrap{
    //   float: left;
    //   margin: 0px 50px;
    // }
    .title{
      float: left;
      margin-left: 40px;
    }
  }
}
// header_card
.header_card{
  text-align: center;
  color: #fff;
  // background: url('@/assets/avatar/card.png');
  .card_img_wrap{
    // position: absolute;
    // z-index: -1;
    img{
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -10;
    }
  }
  .avatar_img{
    display: inline-block;
    width: 64px;
    height: 64px;
    border-radius: 64px;
    background-color: #353c6d;
  }
  .nickname{
    font-size: 24px;
    font-weight: bold;
  }
  .summary{
    margin: 20px 0px 22px;
    font-size: 18px;
  }
  .stat{
    font-size: 18px;
    .attention{
      margin-right: 45px;
    }
  }
}
.avatar{
  .avatar__content{
    padding: 0px 28px;
  }
  .nav{
    height: 100px;
    margin-top: 20px;
    font-size: 28px;
    background-color: #fff;
    // border: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    border-radius: 5px;
    .grey{
      color: #ccc;
    }
    p{
      width: 50%;
      float: left;
      line-height: 100px;
      text-align: center;
    }
  }
  .content_wrap{
    padding-top: 20px;
    text-align: center;
  }
  // content
  .content_wrap{
    li{
      overflow: hidden;
      padding-bottom: 40px;
    }
    img{
      width: 38%;
      // height: 220px;
    }
    .course_word_wrap{
      position: relative;
      width: 56%;
      font-size: 20px;
      text-align: left;
      .course_title{
        font-size: 28px;
      }
      .course_content{
        padding: 40px 0px 30px;
        color: #4e4e4e;
      }
      .course_coach{
        padding-bottom: 20px;
        color: #828282;
      }
      .course_join{
        color: #828282;
      }
      .course_join_btn{
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: #3748ac;
      }
    }
  }
}