// people

.people{
  .people__nav{
    overflow: hidden;
    padding-top: 30px;
    background-color: #3748ac;
    p{
      width: 50%;
      text-align: center;
      font-size: 30px;
      color: #fff;
      span{
        display: inline-block;
        border-bottom: 4px solid;
        padding: 0px 10px 10px;
      }
    }
  }
}